@import url('https://fonts.googleapis.com/css2?family=Sawarabi+Mincho&display=swap');

body {
	margin: 0;
	font-family: 'Sawarabi Mincho', sans-serif;
}

html,
body,
#root {
	height: 100%;
}

.nav-link {
	padding: 0 1rem;
	color: antiquewhite;
	text-decoration: none;
	text-transform: uppercase;
}
